body{
    background-color: antiquewhite;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main > *{
    display: flex;
    box-sizing: border-box;
}
main > button{
    background-color: brown;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 20px;
    margin: 10px;
}
main > img{
    width: auto;
    max-height: 60vh;
    border-radius: 40px;
}